/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #121212;
  color: #f0f0f0;
  line-height: 1.6;
}

/* NAVBAR */
header {
  background-color: #1e1e1e;
  padding: 20px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ff6f61;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #ff6f61;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px 40px;
}

.hero-text {
  max-width: 700px;
}

.hero-text h1 {
  font-size: 3.2rem;
  color: #ff6f61;
}

.hero-text h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.hero-text h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #aaa;
}

.hero-text p {
  margin-bottom: 30px;
}

.buttons .btn {
  padding: 12px 24px;
  margin-right: 15px;
  background-color: #ff6f61;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.buttons .btn:hover {
  background-color: #e85c50;
}

.btn.outline {
  background: transparent;
  border: 2px solid #ff6f61;
  color: #ff6f61;
}

/* QUOTE */
.quote {
  padding: 50px;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  color: #ccc;
}

/* ABOUT */
.about {
  padding: 60px 40px;
}

.about h2 {
  color: #ff6f61;
  margin-bottom: 15px;
}

.skills {
  list-style: none;
  margin-top: 15px;
}

.skills li {
  background: #1e1e1e;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 5px;
  width: fit-content;
}

/* PROJECTS */
.projects {
  padding: 60px 40px;
}

.projects h2 {
  color: #ff6f61;
  margin-bottom: 15px;
}

/* CONTACT */
.contact {
  padding: 60px 40px;
}

.contact h2 {
  color: #ff6f61;
  margin-bottom: 15px;
}

.contact a {
  color: #ffcc70;
  text-decoration: none;
}

.contact a:hover {
  color: #ff6f61;
}


